{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        {% if guest.is_authenticated %}
          <li><a href="/profile/{{guest.username}}/">Me</a></li>
          <li><a href="/profiles/">People</a></li>
        {% endif %}
        <li class="last"><a class="active" href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      <li class="first current"><a href="/app/{{app.short_name}}/">{{app.name}}</a></li>
      {% ifequal app.owner guest %}
        <li>|</li>
        <li><a href="/app/{{app.short_name}}/form/">Edit application</a></li>
      {% endifequal %}
      <li>|</li>
      {% if guest.is_authenticated %}
        <li><a href="/app/{{app.short_name}}/comments/">Comments</a></li>
        <li>|</li>
        <li><a href="/profile/{{guest.username}}/apps/">Your applications</a></li>
        <li>|</li>
        <li><a href="/logout/">Logout</a></li>
      {% else %}
        <li><a href="/login/">Login</a></li>
      {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div id="content">
      {% if app.logo %}
        <img class="imgr imgm" src="{{app.logo.url}}" alt="{{app.name}}'s logo" />
      {% else %}
        <img class="imgr imgm" src="/files/images/demo/imgl.gif" alt="{{app.name}}'s logo" />
      {% endif %}
      <h1>{{app.name|capfirst}} <div class="category">in {{app.category.name|capfirst}}</div></h1>
      <ul>
        <li><label>Developer:</label> {{app.developer|default:"Unknown"}}</li>
        <li><label>Latest version:</label> {{app.version|default:"Unknown"}}</li>
        <li><label>URL:</label> {% if app.url %}<a href="{{app.url}}">{{app.url}}</a>{% else %}Unknown{% endif %}</li>
        <li><label>License:</label> {{app.license|default:"Unknown"}}</li>
        <li><label>Description:</label> <p>{{app.description}}</p></li>
      </ul>
      <div class="clear"></div>
      {% if guest.is_authenticated %}
        <div id="comments">
          <h2>Latest comments</h2>
          <ul class="commentlist">
            {% for comment in comments %}
              {% if forloop.counter|divisibleby:"2" %}
                <li class="comment_even">
              {% else %}
                <li class="comment_odd">
              {% endif %}
              {% if comment.user.pic %}
                <div class="author"><img class="avatar" src="{{comment.user.pic.url}}" alt="" />{% ifequal comment.user guest %}<a class="edit" href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/form/">Edit</a>{% endifequal %}<span class="name"><a href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/">#{{comment.order}}</a></span> <span class="wrote">by</span> <span class="name"><a href="/profile/{{comment.user.username}}/">{{comment.user.first_name}}</a>:</span></div>
              {% else %}
                <div class="author"><img class="avatar" src="/files/images/demo/imgl.gif" alt="" />{% ifequal comment.user guest %}<a class="edit" href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/form/">Edit</a>{% endifequal %}<span class="name"><a href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/">#{{comment.order}}</a></span> <span class="wrote">by</span> <span class="name"><a href="/profile/{{comment.user.username}}/">{{comment.user.first_name}}</a>:</span></div>
              {% endif %}
                <div class="submitdate">{{comment.time}}</div>
                {{comment.text|linebreaks}}
              </li>
            {% empty %}
              <li>Nobody has written any comment :-(</li>
            {% endfor %}
          </ul>
          {% if comments %}
            <p class="readmore"><a href="/app/{{app.short_name}}/comments/">More comments &raquo;</a></p>
          {% endif %}
        </div>
        <h2>Add a new comment</h2>
        <div id="respond">
          <form action="/app/{{app.short_name}}/comments/create/" method="post">
            {% csrf_token %}
            <p>
              <textarea name="text" id="comment" cols="100%" rows="10"></textarea>
              <label for="text" style="display:none;"><small>Comment (required)</small></label>
            </p>
            <p>
              <input name="submit" type="submit" id="submit" value="Comment" />
            </p>
          </form>
        </div>
      {% endif %}
    </div>
{% endblock content %}

{% block column %}
  <div id="column">
    <div class="holder">
      <h2>Stats</h2>
      <ul>
        {% if guest.is_authenticated %}
          <li>Your check-apps: {{checkapps.count}}</li>
        {% endif %}
        <li>Total check-apps: {{app.checkapp_set.count}}</li>
        {% if app.superuser %}
          <li>Superuser: {{app.superuser.name}}</li>
        {% endif %}
      </ul>
    </div>
    <div class="holder">
      <h2>Check-app</h2>
        {% if guest.is_authenticated %}
          <p>Are you using this app? Then <a href="/profile/{{guest.username}}/checkapp/{{app.short_name}}/">check-app</a>!</p>
        {% else %}
          <p>Please register if you want to check-app.</p>
        {% endif %}
    </div>
  </div>
{% endblock %}

