<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>CheckApp | Your profile</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="/files/styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="head">
    <h1><a href="/">CheckApp</a></h1>
    <p>A new and free  way to discover applications</p>
    {% block menu %}{% endblock %}
    <div id="search">
      <form action="/profiles/" method="get">
        <fieldset>
        <legend>Search People</legend>
        <input type="submit" name="go" id="go" value="GO" />
        <input type="text" name="username" value="Search the site&hellip;"  onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="breadcrumb">
    {% block breadcrumb %}{% endblock %}
  </div>
</div>

{% if messages %}
  <div class="wrapper col3">
    <div id="messages">
      <ul>
        {% for message in messages %}
          <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if form.email.errors %}
  <div class="wrapper col3">
    <div id="errors">
      {{form.email.errors}}
    </div>
  </div>
{% endif %}

<div class="wrapper col4">
  <div id="container">
    {% block content %}{% endblock %}
    {% block column %}{% endblock %}
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper col5">
  <div id="footer">
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 2011 - <a href="#">CheckApp</a></p>
      <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Open Source Templates">OS Templates</a></p>
      <br class="clear" />
    </div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>
