{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
      <div class="homecontent">
        <h1>Welcome to CheckApp!</h1>
        <p>Don't you know what CheckApp is? Here are some reasons to join CheckApp:</p>
        <ul>
          <li>Discover new and interesting applications.</li>
          <li>Find your friends, and know what applications they find useful.</li>
          <li>Tell the world which applications you use.</li>
          <li>Help people with your comments and tips.</li>
        </ul>
      </div>
    </div>
{% endblock %}

{% block column %}
    <div id="column">
      <div class="holder">
        <h2>Become part of the show</h2>
        <div class="form">
          <form action="/login/" method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="put"/>
            <ul>
              <li>
                <label for="username">Username:</label>
                <input type="text" name="username" maxlength="30"
                  title="Insert your username"/>
              </li>
              <li>
                <label for="password">Password:</label>
                <input type="password" name="password" maxlength="30"
                    title="Insert your password"/>
              </li>
              <li class="buttons">
                <input class="submit" type="submit" name="submit" value="Submit"/>
              </li>
            </ul>
          </form>
        </div>
        <p><a href="{% url django.contrib.auth.views.password_reset %}">Have you forgotten your password?</a></p>
        <p>Don't you have an account? <a href="/profiles/new/">Click here</a> to create one.</p>
      </div>
    </div>
{% endblock %}
