{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/profile/{{guest.username}}/">Me</a></li>
        <li><a href="/profiles/">People</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      <li class="first"><a href="/profile/{{guest.username}}/">{{guest.first_name}}</a></li>
      <li>|</li>
      <li class="current"><a href="/profile/{{guest.username}}/notifications/">Notifications ({{guest.count_unread}})</a></li>
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/form/">Edit my profile</a></li>
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/friends/">Manage friends</a></li>
      <li>|</li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
      <ul>
        {% for notification in notifications %}
          <li>
            {% if notification.readed %}
              <div class="notification">
            {% else %}
              <div class="notification unreaded">
            {% endif %}
              <div class="submitdate">{{notification.time}}</div>
              {% if notification.url %}
                <a href="{{notification.url}}">{{notification.text}}</a>
              {% else %}
                {{notification.text}}
              {% endif %}
            </div>
          </li>
          {{notification.mark_read|default:""}}
        {% endfor %}
      </ul>
{% endblock content %}

{% block column %}
{% endblock %}

