{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        {% ifequal guest host %}
          <li><a class="active" href="/profile/{{guest.username}}/">Me</a></li>
          <li><a href="/profiles/">People</a></li>
        {% else %}
          <li><a href="/profile/{{guest.username}}/">Me</a></li>
          <li><a class="active" href="/profiles/">People</a></li>
        {% endifequal %}
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      {% ifequal guest host %}
        <li class="first current"><a href="/profile/{{guest.username}}/">{{guest.first_name}}</a></li>
      {% else %}
        <li class="first"><a href="/profile/{{guest.username}}/">{{guest.first_name}}</a></li>
      {% endifequal %}
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/notifications/">Notifications ({{guest.count_unread}})</a></li>
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/form/">Edit my profile</a></li>
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/friends/">Manage friends</a></li>
      <li>|</li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content">
      {% if host.pic %}
        {% ifequal guest host %}
          <img class="imgr imgm" src="{{host.pic.url}}" alt="Your picture" />
        {% else %}
          <img class="imgr imgm" src="{{host.pic.url}}" alt="{{host.first_name}}'s picture" />
        {% endifequal %}
      {% else %}
        {% ifequal guest host %}
          <img class="imgr imgm" src="/files/images/demo/imgl.gif" alt="Your picture" />
        {% else %}
          <img class="imgr imgm" src="/files/images/demo/imgl.gif" alt="{{host.first_name}}'s picture" />
        {% endifequal %}
      {% endif %}
      <h1>{{host.first_name|capfirst}}{% if host.last_name %} {{host.last_name|capfirst}}{% endif %}</h1>
      <ul>
        <li>Total check-apps: {{host.checkapp_set.count}}</li>
        <li>Number of comments: {{host.comment_set.count}}</li>
      </ul>
      <div class="clear"></div>
      <div id="checkapps">
        <h2>Latest check-apps</h2>
        <ul>
          {% for checkapp in checkapps %}
            {% if forloop.counter|divisibleby:"2" %}
              <li class="checkapp_even">
            {% else %}
              <li class="checkapp_odd">
            {% endif %}
            <div><a href="/app/{{checkapp.app.short_name}}/">{{checkapp.app.name}}</a> {{checkapp.time|timesince}} ago.</div>
            {% if checkapp.text %}
              <div>{{checkapp.text}}</div>
            {% endif %}
            </li>
          {% empty %}
            <li>You haven't checked any app yet.</li>
          {% endfor %}
        </ul>
        {% ifequal guest host %}
          {% if checkapps %}
            <p class="readmore"><a href="/profile/{{host.username}}/checkapps/">More checkapps &raquo;</a></p>
          {% endif %}
        {% endifequal %}
      </div>
      <div id="comments">
        <h2>Latest comments</h2>
        <ul class="commentlist">
          {% for comment in comments %}
            {% if forloop.counter|divisibleby:"2" %}
              <li class="comment_even">
            {% else %}
              <li class="comment_odd">
            {% endif %}
            {% if comment.user.pic %}
              <div class="author"><img class="avatar" src="{{comment.user.pic.url}}" alt="" />{% ifequal comment.user guest %}<a class="edit" href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/form/">Edit</a>{% endifequal %}<span class="name"><a href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/">#{{comment.order}}</a></span> <span class="wrote">on</span> <span class="name"><a href="/app/{{comment.app.short_name}}/">{{comment.app.name}}</a>:</span></div>
            {% else %}
              <div class="author"><img class="avatar" src="/files/images/demo/imgl.gif" alt="" />{% ifequal comment.user guest %}<a class="edit" href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/form/">Edit</a>{% endifequal %}<span class="name"><a href="/app/{{comment.app.short_name}}/comment/{{comment.order}}/">#{{comment.order}}</a></span> <span class="wrote">on</span> <span class="name"><a href="/app/{{comment.app.short_name}}/">{{comment.app.name}}</a>:</span></div>
            {% endif %}
              <div class="submitdate">{{comment.time}}</div>
              {{comment.text|linebreaks}}
            </li>
          {% empty %}
            <li>You haven't written any comment :-(</li>
          {% endfor %}
        </ul>
        {% if comments %}
          <p class="readmore"><a href="/profile/{{host.username}}/comments/">More comments &raquo;</a></p>
        {% endif %}
      </div>
    </div>
{% endblock content %}

{% block column %}
    <div id="column">
      <div class="holder">
        {% ifequal guest host %}
          <h2>Your Merits</h2>
        {% else %}
          <h2>{{host.first_name}}'s Merits</h2>
        {% endifequal %}
        
        <ul>
          {% for i in host.pins.all %}
            <li>
              <p class="imgholder"><img src="/files/images/demo/240x90.gif" alt="" /></p>
            </li>
          {% empty %}
            <li>
              {% ifequal guest host %}
                You have no merits. Why don't you check some apps?
              {% else %}
                {{host.first_name}} has no merits.
              {% endifequal %}
            </li>
          {% endfor %}
        </ul>
        <p class="readmore"><a href="#">More &raquo;</a></p>
      </div>
      <div class="holder">
        {% ifequal guest host %}
          <h2>My Friends</h2>
        {% else %}
          <h2>{{host.first_name}}'s Friends</h2>
        {% endifequal %}
        <ul>
          {% for friend in friends.all %}
            {% if friend.pic %}
              <li>
                <a href="/profile/{{friend.username}}/">
                  <img class="imgl imgxs" src="{{friend.pic.url}}" alt="{{friend.first_name}}'s picture" />
                  {{friend.first_name|capfirst}}
                </a>
              </li>
            {% else %}
              <li>
                <a href="/profile/{{friend.username}}/">
                  <img class="imgl imgxs" src="/files/images/demo/imgl.gif" alt="{{friend.first_name}}'s picture" />
                  {{friend.first_name|capfirst}}
                </a>
              </li>
            {% endif %}
          {% empty %}
            {% ifequal guest host %}
              <li>You don't have any friends :-(</li>
            {% else %}
              <li>{{host.first_name}} doesn't have any friends :-(</li>
            {% endifequal %}
          {% endfor %}
        </ul>
        {% if guest in host.friends.all or host == guest %}
          <p class="readmore"><a href="/profile/{{host.username}}/friends/">More &raquo;</a></p>
        {% endif %}
      </div> 
    </div>
{% endblock %}

