{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/profile/{{guest.username}}/">Me</a></li>
        <li><a href="/profiles/">People</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      <li class="first">Actions:</li>
      <li class="current"><a href="/profile/{{guest.username}}/">View</a></li>
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/form/">Edit</a></li>
      <li>|</li>
      <li><a href="/profile/{{guest.username}}/friends/">Manage friends</a></li>
      <li>|</li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content">
      {% if host.pic %}
        {% ifequal guest host %}
          <img class="imgr imgm" src="{{host.pic.url}}" alt="Your picture" />
        {% else %}
          <img class="imgr imgm" src="{{host.pic.url}}" alt="{{host.first_name}}'s picture" />
        {% endifequal %}
      {% else %}
        {% ifequal guest host %}
          <img class="imgr imgm" src="/files/images/demo/imgl.gif" alt="Your picture" />
        {% else %}
          <img class="imgr imgm" src="/files/images/demo/imgl.gif" alt="{{host.first_name}}'s picture" />
        {% endifequal %}
      {% endif %}
      <h1>{{host.first_name|capfirst}}{% if host.last_name %} {{host.last_name|capfirst}}{% endif %}</h1>
      <ul>
        <li>Total check-apps: </li>
        <li>Number of comments: </li>
      </ul>
      <div class="clear"></div>
      <h2>Latest check-apps</h2>
      <ul>
        <li>App #1</li>
        <li>App #2</li>
      </ul>
      <div id="comments">
        <h2>Latest comments</h2>
        <ul class="commentlist">
          <li class="comment_odd">
            <div class="submitdate">January 1, 2011 at 00:00 am</div>
            <p>Comment 1</p>
          </li>
          <li class="comment_even">
            <div class="submitdate">January 1, 2011 at 00:00 am</div>
            <p>Comment 2</p>
          </li>
        </ul>
      </div>
    </div>
{% endblock content %}

{% block column %}
    <div id="column">
      <div class="holder">
        {% ifequal guest host %}
          <h2>Your Merits</h2>
        {% else %}
          <h2>{{host.first_name}}'s Merits</h2>
        {% endifequal %}
        
        <ul>
          {% for i in host.pins.all %}
            <li>
              <p class="imgholder"><img src="/files/images/demo/240x90.gif" alt="" /></p>
            </li>
          {% empty %}
            <li>
              {% ifequal guest host %}
                You have no merits. Why don't you check some apps?
              {% else %}
                {{host.first_name}} has no merits.
              {% endifequal %}
            </li>
          {% endfor %}
        </ul>
        <p class="readmore"><a href="#">More &raquo;</a></p>
      </div>
      <div class="holder">
        {% ifequal guest host %}
          <h2>My Friends</h2>
        {% else %}
          <h2>{{host.first_name}}'s Friends</h2>
        {% endifequal %}
        <ul>
          {% for friend in host.friends.all %}
            {% if friend.pic %}
              <li>
                <a href="/profile/{{friend.username}}/">
                  <img class="imgl" src="{{friend.pic.url}}" alt="{{friend.first_name}}'s picture" width="50" height="50" />
                  {{friend.first_name|capfirst}}
                </a>
              </li>
            {% else %}
              <li>
                <a href="/profile/{{friend.username}}/">
                  <img class="imgl" src="/files/images/demo/imgl.gif" alt="{{friend.first_name}}'s picture" width="50" height="50" />
                  {{friend.first_name|capfirst}}
                </a>
              </li>
            {% endif %}
          {% empty %}
            {% ifequal guest host %}
              <li>You don't have any friends :-(</li>
            {% else %}
              <li>{{host.first_name}} doesn't have any friends :-(</li>
            {% endifequal %}
          {% endfor %}
        </ul>
        {% ifequal guest host %}
          <p class="readmore"><a href="/profile/{{host.username}}/friends/">More &raquo;</a></p>
        {% endifequal %}
      </div> 
    </div>
{% endblock %}

