{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
{% endblock %}

{% block content %}
    {% if messages %}
      <ul id="messages">
        {% for message in messages %}
          <li class="{{message.tag}}">{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <form enctype="multipart/form-data" action="/profiles/create/" method="post">
      {% csrf_token %}
      <ul>
        <li>
          <label for="username">Username:</label>
          <input type="text" name="username" maxlength="30"
              value="{{guest.username}}"
              title="Insert your username"/>
        </li>
        <li>
          <label for="pic">Picture:</label>
          <input type="file" name="pic" title="Upload your picture"/>
        </li>
        <li>
          <label for="first_name">First name:</label>
          <input type="text" name="first_name" maxlength="30"
              value="{{guest.first_name}}"
              title="Insert your first name"/>
        </li>
        <li>
          <label for="last_name">Last name:</label>
          <input type="text" name="last_name" maxlength="30"
              value="{{guest.last_name}}"
              title="Insert your last name"/>
        </li>
        <li>
          <label for="email">E-Mail:</label>
          <input type="text" name="email" maxlength="30"
              value="{{guest.email}}"
              title="Insert your E-Mail"/>
        </li>
        <li>
          <label for="password">Password:</label>
          <input type="password" name="password" maxlength="30"
              title="Insert your password"/>
        </li>
        <li>
          <label for="cpassword">Password confirmation:</label>
          <input type="password" name="cpassword" maxlength="30"
              title="Insert your password again"/>
        </li>
        <li>
          <input type="submit" name="submit" value="Submit"/>
        </li>
      </ul>
    </form>
{% endblock %}
