{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile/{{guest.username}}/">Me</a></li>
        <li><a class="active" href="/profiles/">People</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      <li class="first">Actions:</li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content">
      <ul>
        {% for user in users %}
          <li>
            <div class="item">
              {% if user.pic %}
                <img class="imgl imgs" src="{{user.pic.url}}" alt="{{user.first_name}}'s picture" />
              {% else %}
                <img class="imgl imgs" src="/files/images/demo/imgl.gif" alt="{{user.first_name}}'s picture" />
              {% endif %}
              {% if user in guest.friends.all %}
                <p><a href="/profile/{{user.username}}/">{{user.first_name|capfirst}}{% if user.last_name %} {{user.last_name|capfirst}}{% endif %}</a></p>
              {% else %}
                <p>
                  {{user.first_name|capfirst}}{% if user.last_name %} {{user.last_name|capfirst}}{% endif %}
                  <a href="/profile/{{guest.username}}/friends/{{user.username}}/add/?_method=post">Add as a friend</a>
                </p>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}

{% block column %}
    <div id="column">
      <div class="holder">
        <h2>Filter results</h2>
        <form action="/profiles/" method="get">
          <ul>
            <li>
              <label for="username">Username:</label>
              <input type="text" name="username" value="{{search.username}}" title="Type a username"/>
            </li>
            <li>
              <label for="first_name">First name:</label>
              <input type="text" name="first_name" value="{{search.first_name}}" title="Type a first name"/>
            </li>
            <li>
              <label for="last_name">Last name:</label>
              <input type="text" name="last_name" value="{{search.last_name}}" title="Type a last name"/>
            </li>
            <li>
              <label for="email">E-Mail:</label>
              <input type="text" name="email" value="{{search.email}}" title="Type an E-Mail"/>
            </li>
            <li>
              <input type="submit" name="submit" value="Submit"/>
            </li>
          </ul>
        </form>
      </div>
    </div>
{% endblock %}

