{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile/{{guest.username}}/">Me</a></li>
        <li><a href="/profile/{{guest.username}}/friends/">Friends</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      <li class="first"><a href="/profile/{{guest.username}}/notifications/">Notifications ({{guest.count_unread}})</a></li>
      <li>|</li>
      <li class="current"><a href="/profile/{{guest.username}}/form/">Edit my profile</a></li>
      <li>|</li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content">
      <h1>Profile edition</h2>
      <div class="form">
        <form enctype="multipart/form-data" action="/profile/{{guest.username}}/edit/" method="post">
          {% csrf_token %}
          <input type="hidden" name="_method" value="put"/>
          <ul>
            <li>
              <label for="pic">Picture:</label>
              <input type="file" name="pic" title="Upload your picture"/>
            </li>
            <li>
              <label for="first_name">First name:</label>
              <input type="text" name="first_name" maxlength="30"
                  value="{% if form %}{{form.fname}}{% else %}{{guest.first_name}}{% endif %}"
                  title="Insert your first name"/>
            </li>
            <li>
              <label for="last_name">Last name:</label>
              <input type="text" name="last_name" maxlength="30"
                  value="{% if form %}{{form.lname}}{% else %}{{guest.last_name}}{% endif %}"
                  title="Insert your last name"/>
            </li>
            <li>
              <label for="email">E-Mail:</label>
              <input type="text" name="email" maxlength="30"
                  value="{% if form %}{{form.email}}{% else %}{{guest.email}}{% endif %}"
                  title="Insert your E-Mail"/>
            </li>
            <li>
              <label for="password">Password:</label>
              <input type="password" name="password" maxlength="30"
                  title="Insert your password"/>
            </li>
            <li>
              <label for="cpassword">Password confirmation:</label>
              <input type="password" name="cpassword" maxlength="30"
                  title="Insert your password again"/>
            </li>
            <li class="buttons">
              <input class="submit" type="submit" name="submit" value="Submit"/>
            </li>
          </ul>
        </form>
      </div>
    </div>
{% endblock %}

{% block column %}
    <div id="column">
      <div class="holder">
        <h2>Tips:</h2>
        <p>Here are some tips that can help you editing your profile:</p>
        <ul>
          <li>Remember that your first name, second name and E-Mail are mandatory.</li>
          <li>You only need to enter your password if you want to change it.</li>
          <li>Your password has to be at least 6 characters long.</li>
          <li>Unluckily, you cannot change your username.</li>
        </ul>
      </div>
    </div>
{% endblock %}
