{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/profile/{{user.username}}">Me</a></li>
        <li><a href="/profiles">People</a></li>
        <li class="last"><a href="#">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul>
      <li class="first">Actions:</li>
      <li class="current"><a href="/profile/{{user.username}}">View</a></li>
      <li>|</li>
      <li><a href="/profile/{{user.username}}/form">Edit</a></li>
      <li>|</li>
      <li><a href="#">Manage friends</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content">
      {% if user.pic %}
        <img class="imgr" src="{{user.pic.url}}" alt="Your picture" width="150" height="150" />
      {% else %}
        <img class="imgr" src="/files/images/demo/imgl.gif" alt="Your picture" width="150" height="150" />
      {% endif %}
      {% if user.first_name %}
        <h1>Hello {{user.first_name|capfirst}}{% if user.last_name %} {{user.last_name|capfirst}}{% endif %}!</h1>
      {% else %}
        <h1>Hello {{user.username}}!</h1>
      {% endif %}
      <p>It's nice to see you again. Are you ready to check some apps?</p>
      <ul>
        <li>Total check-apps: </li>
        <li>Number of comments: </li>
      </ul>
      <div class="clear"></div>
      <h2>Latest check-apps</h2>
      <ul>
        <li>App #1</li>
        <li>App #2</li>
      </ul>
      <div id="comments">
        <h2>Latest comments</h2>
        <ul class="commentlist">
          <li class="comment_odd">
            <div class="submitdate">January 1, 2011 at 00:00 am</div>
            <p>Comment 1</p>
          </li>
          <li class="comment_even">
            <div class="submitdate">January 1, 2011 at 00:00 am</div>
            <p>Comment 2</p>
          </li>
        </ul>
      </div>
    </div>
{% endblock content %}

{% block column %}
    <div id="column">
      <div class="holder">
        <h2>My Merits</h2>
        <ul>
          {% for i in user.pins.all %}
            <li>
              <p class="imgholder"><img src="/files/images/demo/240x90.gif" alt="" /></p>
            </li>
          {% empty %}
            <li>
              You have no merits. Why don't you check some apps?
            </li>
          {% endfor %}
        </ul>
        <p class="readmore"><a href="#">More &raquo;</a></p>
      </div>
      <div class="holder">
        <h2>My Friends</h2>
        <ul>
          {% for i in user.friends.all %}
            <li><a href="/profile/{{i.username}}">{{i.first_name|capfirst}}</a></li>
          {% empty %}
            <li>You don't have any friends :-(</li>
          {% endfor %}
        </ul>
        <p class="readmore"><a href="#">More &raquo;</a></p>
      </div> 
    </div>
{% endblock %}

