{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
      <div class="homecontent">
        <h1>Password reset successful</h1>
        <p>We've sent you instructions for setting your password to the E-Mail address you submitted. You should be receiving it shortly.</p>
      </div>
    </div>
{% endblock %}
