{% extends "base.html" %}

{% block menu %}
    <div id="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="last"><a href="/apps/">Apps</a></li>
      </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
      <div class="homecontent">
        <h1>Reset your password</h1>
        <p>Forgotten your password? Enter your E-Mail address below, and we'll E-Mail instructions for setting a new one.</p>
        <div class="form">
          <form action="" method="post">
            {% csrf_token %}
            <ul>
              <li>
                <label for="id_email">E-Mail:</label>
                <input type="text" id="id_email" name="email" maxlength="75"
                  title="Insert your E-Mail"/>
              </li>
              <li class="buttons">
                <input class="submit" type="submit" name="submit" value="Reset your password"/>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
